In [1]:
import json
import pandas as pd
from pathlib import Path

In [2]:

FILE_NAME = 'OGRRE.json'
WRITE_JSON = False       # Write the reformatted json file (for easier viewing)
WRITE_COLUMNS = True     # Write the unique columns and their counts to json
WRITE_DATAFRAME = True   # Write the dataframe to a csv file

path = Path(FILE_NAME)

# Open the data file reformat json file for easier viewing if desired
with open(path, 'r') as fr:
    data = json.load(fr)

    if WRITE_JSON:
        json.dump(data, open('{}-formatted.json'.format(path.stem), 'w'), indent=4)

In [7]:
# Reformat the data where field name are keys and values are values, each
# dictionary in the list is a new observation

data_formatted = [] # The formatted data
columns = {} # The unique columns and their counts

for obs in data:
    data_formatted.append({})
    for field in obs:
        field_name = field['key'].lower()
        value = field['value']
        data_formatted[-1][field_name] = value
        columns[field_name] = columns.get(field_name, 0) + 1

print('There are {} unique columns'.format(len(columns)))

WRITE_COLUMNS = True
if WRITE_COLUMNS:
    json.dump(columns, open('{}-columns.json'.format(path.stem), 'w'), indent=4)

There are 371 unique columns

In [12]:
# Create a dataframe from the data use the value key as the value and the key as the column name
df = pd.DataFrame(data_formatted)
print('The dataframe has {} observations'.format(df.shape[0]))
df.head()

if WRITE_DATAFRAME:
    df.to_csv(path.with_suffix('.csv'), index=False)

df.head(20)

The dataframe has 1393 observations

,county,date_drilling_began,date_issued,ground,mine_intermediate_csg_pulled,mine_intermediate_sks_cement,permit_no,rotary_tools_from,section,surface_csg_pulled,...,formation_determined_by_other_text,oil_gas_shows_depth,formation_name,lithology,perforation_interval,shots,open_hole_interval,acidized_fractures_other,date_drilling_compete,drilled_out_plugged_hole
0,Champaign,1971-07-30,1971-07-01,753.6,No,400,528,Surface,19,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Champaign,1972-07-20,1972-07-20,743,None,400,642,GL,9,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Champaign,1972-06-03,1972-05-11,743,None,400,407,0,10,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Champaign,1972-03-10,1972-01-04,753,None,400,4,GL,18,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Champaign,1971-06-01,1971-04-30,723.5,None,400,308,Surface,22,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Champaign,1971-08-16,1971-08-12,742,No,400,682,Surface,9,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Champaign,1971-05-12,1971-04-28,734,None,400,296,Surface,20,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Champaign,1971-09-08,1971-08-12,742.5,No,400,683,Surface,10,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Champaign,1971-07-21,1971-07-19,732.8,None,400,606,Surface,2,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Champaign,1972-04-16,1972-04-03,744,,400 sk,260,GL,10,N/A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Champaign,1972-04-08,1972-03-31,753,,400 sk,255,GL,18,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Champaign,1972-01-07,1972-01-04,750,,400 sk,6,GL,7,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Champaign,1972-08-22,1972-05-02,742,,400,360,GL,29,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Champaign,1972-08-16,1972-04-28,747,,400 sk,351,GL,28,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Champaign,1971-06-09,1971-06-09,754.8,None,400,449,Surface,19,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Champaign,1971-07-06,1971-04-30,756,No,400,307,Surface,18,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Champaign,1971-08-25,1971-07-01,741,No,400,527,Surface,28,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Champaign,1971-06-25,1971-06-25,753.3,None,400,498,Surface,17,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Champaign,1971-09-26,1971-09-24,735,None,400,809,Surface,20,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Champaign,1971-10-05,1971-09-24,740,None,400,808,Surface,17,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN